@import "tailwindcss";

*, html{
    scroll-behavior: smooth;
}
.container {
    @apply max-w-[1320px] mx-auto bg-transparent
}

@theme {
    --font-inter :"Inter", sans-serif;
    --breakpoint-xs : 200px;
    --breakpoint-normal : 400px;
    --breakpoint-normal-2 : 450px;
    --breakpoint-normal-3 : 600px;
    --breakpoint-xl-2 : 1305px;
    --breakpoint-md-2 : 900px;
}

@layer {
    .banner{
        background-image: url(/src/assets/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
    .menu ul li a{
        font-size: 18px;
        font-weight: 500;
        line-height: 26%;
        color: #ffffff;
        transition: all 0.3 linear;
    }
    .menu ul li a:hover{
       font-weight: 600;
       color: #4756DF;
    }
    .slick-dots li button {
    width: 24px !important;
    height: 24px !important;
    background: #4756DF !important;
    border-radius: 50%;
}
.slick-dots li button:before {
    color: transparent !important;
}

.slick-dots li.slick-active button  {
background: white !important;
 position: relative !important; 
 transition: all .3s ;
}
.slick-dots li.slick-active button::before{
width: 16px !important;
height: 16px !important;
background: #4756DF !important;
border-radius: 50%;
top: 50% !important;
left: 50% !important;
transform: translate(-50%, -50%) !important;
}

.slick-dots {
    bottom: -125px !important;
}
.reviews-items{
    transition: all .3s ease-in-out;
}
.swiper-slide-next .reviews-items{
    background: #F4EFEF !important;
}

.swiper-navigation-icon{
    display: none;
}

@media (max-width:500px) {
    ::-webkit-scrollbar{
        width: 0px !important;
    }

    .slick-dots {
    bottom:-30px !important;
}
.swiper-slide-active .reviews-items{
    background: #F4EFEF !important;
}


    
}

@media (max-width:1024px) {
.swiper-slide-active .reviews-items{
    background: #F4EFEF !important;
}


    
}
}